.nn-alert-container{
    position: fixed;
    left: 75%;
    bottom: 0;
    width: 24%;
    z-index: 999;
}
.kt-alert-continer{
	position: fixed;
   left: 75.7%;
    top: 53px;
    width: 24%;
    z-index: 999;
}
.alert-text { font-size: 14px; }
.alert.alert-warning .alert-text {
    color: #ffff;
}
.alert.alert-warning .alert-icon i {
    color: #ffff;
}
.alert.alert-warning .alert-close i {
    color: #ffff;
}
.nn-alert{ 
    margin:auto;
    margin-top:2px;
    background:rgba(51, 59, 70, 0.5);
    width:100%;
    height:45px;
    padding:5px 10px;
    color:white;
    font-size:12px;
    transition:all .5s  ;
    backface-visibility:hidden;
    opacity:1;
}
@media screen and (max-width: 600px) {
    .nn-alert-container{
       left: 0; 
       width: 100%;
    }
    .kt-alert-continer{
       left: 0; 
       width: 100%;
    }
}
.nn-alert.pink, .nn-alert.neatnait{
  background: rgba(255, 0, 102, 0.7);
}
.nn-alert.purple{
  background: rgba(37, 0, 102, 0.7);
}
.nn-alert.blue{
  background: #5d78ff;
}
.nn-alert.white {
  background: whitesmoke;
  border:1px solid #333;
  color: #000;
}
.nn-alert.white strong{
  color: #000;
}
.nn-alert.white span{
  color: #5d78ff;
}
.nn-alert:hover.white{
  opacity:0.85;
  background: #5d78ff; 
  color: white;
}
.nn-alert:hover.white span{
   color: white; 
}
.nn-alert.glass{
  background: rgba(99, 99, 99, 0.27); 
} 
.nn-alert .kt-header__topbar-icon{
  font-size:2.5em;
  width:1em;
  float:left;
  margin:1px 5px 0px 0px;
  text-align:center;
}
.nn-alert strong{
    width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
    height: 28px;
    overflow: hidden;
}
.nn-alert p{
  margin:6px 0;
}
